<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :structure %><br>
    <%= f.text_field :structure %>
  </div>
  <div class="field">
    <%= f.label :buy_in %><br>
    <%= f.number_field :buy_in %>
  </div>
  <div class="field">
    <%= f.label :guarantee %><br>
    <%= f.text_field :guarantee %>
  </div>
  <div class="field">
    <%= f.label :event_length %><br>
    <%= f.text_field :event_length %>
  </div>
  <div class="field">
    <%= f.label :tour_id %><br>
    <%= f.number_field :tour_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
