<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left"><%= @tour.name %></h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Live Poker Tours", tours_url %></li>
      <li><%= @tour.name  %></li>
      <li>Tournaments</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
<!-- Responsive, Isotope-based layout example -->

  <div class="row">
    <div class="col-xs-12">
      <input type="text" id="quicksearch" placeholder="Search Tournaments (start typing)" class="form-control text-center">
    </div>
  </div>

  <hr>

  <div class="row isotope-container">
    <!-- Begin Content -->
    <div class="col-md-12">
      <!--Basic Table-->
     <!--Table Bordered-->
      <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-map-marker"></i> Location: <%= @tour.tournaments.pluck(:location).first%></h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>Event</th>
                <th>Buy In</th>
              </tr>
            </thead>
            <% @tour.tournaments.each do |tournament|%>
            <tbody>
             <tr>
               <td><%= tournament.start_time %> <br> <%= tournament.start_date %></td>
               <td><%= tournament.event%></td>
               <td><%= number_to_currency(tournament.buy_in) %></td>
             </tr>
           </tbody>
           <% end %>
         </table>
       </div>
     </div>
     <!--End Table Bordered-->
     <div class="btn-group-lg" role="group">
     <%= link_to new_stake_path do %>
     <button class="btn-u btn-brd btn-brd-hover rounded-4x btn-u-red btn-u-lg col-md-12" type="button">Request Stake</button>
      <% end %>
    </div>
  </div>
  <!-- End Content -->
</div>
</div><!--/container-->
<!--=== End Content Part ===-->

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>

 $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>
<!-- End responsive, Isotope-based layout example -->

