<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left"><%= @tour.name %></h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Live Poker Tours", tours_url %></li>
      <li><%= @tour.name  %></li>
      <li>Tournaments</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <!-- Begin Content -->
    <div class="col-md-12">
      <!--Basic Table-->
     <!--Table Bordered-->
      <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-map-marker"></i> Location: <%= @tour.tournaments.pluck(:location).first%></h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>Event</th>
                <th>Buy In</th>
              </tr>
            </thead>
            <tbody>
             <tr>
               <% @tour.tournaments.each do |tournament|%>
               <td><%= tournament.start_time %> <br> <%= tournament.start_date %></td>
               <td><%= tournament.event%></td>
               <td><%= number_to_currency(tournament.buy_in) %></td>
             </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <!--End Table Bordered-->
    </div>
    <!-- End Content -->
  </div>
</div><!--/container-->
<!--=== End Content Part ===-->


