<%= form_for(@stake) do |f| %>
  <% if @stake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stake.errors.count, "error") %> prohibited this stake from being saved:</h2>

      <ul>
      <% @stake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tour_id %><br>
    <%= f.number_field :tour_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.number_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :amount_of_shares %><br>
    <%= f.number_field :amount_of_shares %>
  </div>
  <div class="field">
    <%= f.label :mark_up %><br>
    <%= f.text_field :mark_up %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
