<div class="player">
  <dl>
    <dt>Player</dt>
    <dd><%= link_to stake.user.username, user_url(stake.user.id) %></dd>

    <dt>Tour</dt>
    <dd><%= stake.tour.name %></dd>

    <dt>Tounament</dt>
    <dd><%= stake.tournament.event %></dd>

    <% if stake.tournament_id_2 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_2).event%></dd>
    <% end %>
    <% if stake.tournament_id_3 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_3).event%></dd>
    <% end %>
    <% if stake.tournament_id_4 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_4).event%></dd>
    <% end %>
    <% if stake.tournament_id_5 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_5).event%></dd>
    <% end %>
    <% if stake.tournament_id_6 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_6).event%></dd>
    <% end %>
    <% if stake.tournament_id_7 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_7).event%></dd>
    <% end %>
    <% if stake.tournament_id_8 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_8).event%></dd>
    <% end %>
    <% if stake.tournament_id_9 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_9).event%></dd>
    <% end %>
    <% if stake.tournament_id_10 != nil  %>
    <dd><%= Tournament.find_by(id: stake.tournament_id_10).event%></dd>
    <% end %>


    <dt>Amount of shares</dt>
    <dd><%= stake.amount_of_shares %></dd>

    <dt>Mark Up</dt>
    <dd><%= stake.mark_up %></dd>
  </dl>

  <div class="btn-group btn-group-justified">
  <%  if current_user == stake.user %>
    <%= link_to icon('search-plus'), stake, class: "btn btn-primary" %>

    <%= link_to icon('edit'), edit_stake_url(stake), class: "btn btn-warning" %>

    <%= link_to icon('trash-o'), stake_url(stake), method: :delete, data: { confirm: "Do you really want to delete this?" }, class: "btn btn-danger" %>
    <% else %>
    <%= link_to icon('search-plus'), stake, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
