<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @stake.user.username %>'s Stake</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Player</dt>
              <dd><%= @stake.user.username %></dd>

              <dt>Tour</dt>
              <dd><%= @stake.tour.name %></dd>

              <dt>Tournament</dt>
              <dd><%= @stake.tournament.event %></dd>
              <% if @stake.tournament_id_2 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_2).event%></dd>
              <% end %>
              <% if @stake.tournament_id_3 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_3).event%></dd>
              <% end %>
              <% if @stake.tournament_id_4 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_4).event%></dd>
              <% end %>
              <% if @stake.tournament_id_5 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_5).event%></dd>
              <% end %>
              <% if @stake.tournament_id_6 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_6).event%></dd>
              <% end %>
              <% if @stake.tournament_id_7 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_7).event%></dd>
              <% end %>
              <% if @stake.tournament_id_8 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_8).event%></dd>
              <% end %>
              <% if @stake.tournament_id_9 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_9).event%></dd>
              <% end %>
              <% if @stake.tournament_id_10 != nil  %>
              <dd><%= Tournament.find_by(id: @stake.tournament_id_10).event%></dd>
              <% end %>

              <dt>Amount of shares</dt>
              <dd><%= @stake.amount_of_shares %></dd>

              <dt>Mark up</dt>
              <dd><%= @stake.mark_up %></dd>

               <% if @stake.description != "" %>
              <dt>Description</dt>
              <dd><%= @stake.description.html_safe %></dd>
              <% end %>

            </dl>
           <div class="btn-group btn-group-justified">
            <% if current_user == @stake.user %>
              <%= link_to icon('chevron-left'), stakes_url, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_stake_path(@stake), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @stake_url, method: :delete, data: { confirm: "Do you really want to delete this?" }, class: "btn btn-danger" %>
            <% else %>
            <%= link_to 'Buy Now', @stake_path, class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="media-list">
    <% @stake.comments.each do |comment| %>
    <%= render "comments/comment", :comment => comment %>
    <% end %>

        <% comment = Comment.new %>
        <% comment.stake_id = @stake.id %>
        <% comment.user_id = current_user.id %>
        <%= form_for [@stake, comment] do |f| %>
       <%= f.text_area :content, class: 'form-control', :placeholder => "Add your comment", rows: 3 %>
        <%= f.hidden_field :stake_id %>
        <%= f.hidden_field :user_id %>
         <div class="row pull-right">
          <div class="col-lg-6">
          <%= f.submit "Post", :class=> "btn-u btn-brd btn-brd-hover rounded-2x btn-u-blue" %>
          </div>
        </div>
        <% end %>

    </ul>
  </div>
</div>

<!-- End responsive panel example -->

