 <% if activity.trackable %>
    <a class="pull-left" href="#">
      <%= image_tag activity.owner.image_url, class: "media-object rounded-x"  %>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <strong><%= link_to activity.owner.username, activity.owner if activity.owner%></strong> @<%= activity.owner.screen_name %>
        <small><%= time_ago_in_words(activity.created_at) %> ago</small>
      </h4>
      <p>Is Looking To Get Staked In the <%= link_to activity.trackable.tour.name, activity.trackable  %>.</p>
      <ul class="list-inline results-list pull-left">
        <li><i class="fa fa-comments"><a href="#">25 Comments</a></li>
        <li><i class="fa fa-eye"></i><%= activity.trackable.impressionist_count %> views</li>
      </ul>
      <ul class="list-inline pull-right">
        <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
        <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
        <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
      </ul>
    </div>
    <hr class="devider devider-dashed">
<% end %>

